{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Config - {% endblock %}

{% block content %}

	<table class="oneData">
		{%  for key,value in config.themeVariables %}
			<tr>
				<th>Theme Variables for theme: {{  key }}</th>
				<td>&nbsp;</td>
			</tr>
			{%  for varKey,varValue in config.themeVariables[key] %}
				<tr>
					<th>{{  varKey }}</th>
					<td>{{  varValue }}</td>
				</tr>
			{%  endfor %}
		{%  endfor %}
	</table>

{% endblock %}

