{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block innerContent %}
	
	
	<p><a href="/event/{{ event.slugForURL }}/edit/details">Edit Details</a></p>
	
	{% if currentSite.isFeaturePhysicalEvents %}
		<p><a href="/event/{{ event.slugForUrl }}/edit/venue">Edit Venue</a></p>
	{% endif %}


	{% if currentSite.isFeatureTag %}
		<p><a href="/event/{{ event.slugForUrl }}/edit/tags">Edit Tags</a></p>
	{% endif %}


{% endblock %}
