{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page2col.html.twig' %}



{% block pageTitle %}Recur {{ event.summaryDisplay }} - {% endblock %} 

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}


{% block actions %}
{% endblock %}


{% block innerContentLeft %}

	<p>Before you can make this event an recurring one, you must add it to a group.</p>
	
{% endblock %}

{% block innerContentRight %}
	<form id="GroupSearchForm" method="POST">
		<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
		
		Group title: <input name="NewGroupTitle" type="text" id="GroupSearchText" value="{{ event.summary }}">
		
		<div class="bigButtonContainer">
			<input type="submit" value="Create New Group" class="button">
		</div>
	</form>
		
	<ul class="groups" id="GroupSearchList">
	</ul>
	
{% endblock %}



{% block scripts %}
	<script type="text/javascript">
		var eventSlug = {{ event.slug }};
	</script>
	<script type="text/javascript" src="/theme/default/js/recur.groupneeded.js"></script>
{% endblock %}

