{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}

{% block pageTitle %}Recur {{ event.summaryDisplay }} - {% endblock %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}


{% block actions %}
{% endblock %}


{% block innerContent %}

	<p>What date does the event next happen on?</p>

	<form id="GroupSearchForm" method="POST">
		<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">

		<input type="text" name="date" value="" id="RecurArbitraryDate" class="hasDatePicker" required="true">

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Create new event" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>

{% endblock %}



{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/recur.arbitrary.js"></script>
{% endblock %}

