{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% if not config.isSingleSiteMode %}
	{% set breadcrumbs = [{'url':'/', 'label':currentSite.title }]|merge(breadcrumbs) %}
{% endif %}

{%  if breadcrumbs %}
	<ul class="breadcrumbs" vocab="http://schema.org/" typeof="BreadcrumbList">
		{%  for breadcrumb in breadcrumbs %}
			<li{%  if loop.last %} class="current"{%  endif %} property="itemListElement" typeof="ListItem">
				<a href="{{  breadcrumb.url }}" property="item" typeof="WebPage">
					<span class="fa fa-angle-right"></span> <span property="name">{{ breadcrumb.label }}</span>
				</a>
				<meta property="position" content="{{ loop.index }}">
			</li>
		{%  endfor %}
	</ul>
{%  endif %}

