{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block content %}
	<div class="contentMain">
		Sorry, this site has been closed by {{ config.installTitle }} administrators.
		{{ currentSite.closedBySysAdminReason }}
	</div>
{% endblock %}
