{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/pageMinimal.html.twig' %}

{% block pageTitle %}Sorry - {% endblock %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block content %}
	<div class="contentTwoColumns">
		<div class="contentTwoColumnsLeft">

			<p class="errorPageHeader">404</p>
			<p class="errorPageHeader">Not found</p>
			<p class="errorPageHeader">Error</p>
		</div>
		<div class="contentTwoColumnsRight">

			<p class="errorPageText">Sorry, we can't find this page.</p>

			<p  class="errorPageText">
				Please <a href="/">return to the home page and try again</a>
				{%  if extensions.hasExtensionID('org.openacalendar.contact') %}, or <a href="/contact">contact us</a> with any problems.{%  endif %}
			</p>

		</div>
		<div class="afterContentTwoColumns"></div>
	</div>
{%  endblock %}