{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="filterListWrapper filterListImportedEventWrapper contentMain">
	<form method="get" class="filterList filterListImportedEvent styled">
		<input type="hidden" name="eventListFilterDataSubmitted" value="1">

		{% if importedEventListFilterParams.dateControls %}
			<div class="rowWrapper">
				<div class="labelWrapper">&nbsp;</div>
				<div class="widgetWrapper"><label><input type="checkbox" name="fromNow" value="1" {% if importedEventListFilterParams.fromNow %}checked{% endif %}> From now</label></div>
				<div class="afterRowWrapper"></div>
			</div>

			<div class="rowWrapper" id="importedEventListFilterFromWrapper">
				<label>
					<div class="labelWrapper">From:</div>
					<div class="widgetWrapper"><input type="text" name="from" value="{{  importedEventListFilterParams.from }}" autocomplete="off"></div>
					<div class="afterRowWrapper"></div>
				</label>
			</div>
		{% endif %}

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Filter" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>

	</form>
</div>