<div id="footer">
	<ul>
		<li>{{ currentSite.footerText | nl2br  | linkify }}</li>
		<li>Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a></li>
		<li><a href="/displayboard">displayboard</a></li>
		<li><a href="http://{{ config.webIndexDomain }}/terms">terms</a></li>
		<li><a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited {{ COPYRIGHT_YEARS }}</a></li>
		{% if currentUserActions.has("org.openacalendar","admin") %}
			<li><a href="/admin">Admin</a></li>
		{% endif %}
	</ul>
</div>

