html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.iconAppleSmall {
  background-image: url('/theme/default/img/apple16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconArrowLeftLarge {
  background-image: url('/theme/default/img/arrowleft32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconArrowRightLarge {
  background-image: url('/theme/default/img/arrowright32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconBellOSmall {
  background-image: url('/theme/default/img/bello16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconBellOLarge {
  background-image: url('/theme/default/img/bello32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconCalendarOLarge {
  background-image: url('/theme/default/img/calendaro32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconClockOLarge {
  background-image: url('/theme/default/img/clocko32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconDownloadSmall {
  background-image: url('/theme/default/img/download16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconDownloadLarge {
  background-image: url('/theme/default/img/download32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconEnvelopeOLarge {
  background-image: url('/theme/default/img/envelopeo32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconEyeLarge {
  background-image: url('/theme/default/img/eye32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconFacebookSquareLarge {
  background-image: url('/theme/default/img/facebooksquare32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .iconFacebookSquareLarge {
    background-image: url('/theme/default/img/facebooksquare64.png');
    background-size: 32px 32px;
  }
}
.iconFileImageOSmall {
  background-image: url('/theme/default/img/fileimageo16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconFileImageOLarge {
  background-image: url('/theme/default/img/fileimageo32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconGearsLarge {
  background-image: url('/theme/default/img/gears32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconGlobeLarge {
  background-image: url('/theme/default/img/globe32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconGoogleSmall {
  background-image: url('/theme/default/img/google16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconGoogleLarge {
  background-image: url('/theme/default/img/google32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconKeyLarge {
  background-image: url('/theme/default/img/key32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconShareSmall {
  background-image: url('/theme/default/img/share16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconTagsLarge {
  background-image: url('/theme/default/img/tags32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconTimesCircleOLarge {
  background-image: url('/theme/default/img/timescircleo32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconTrashOSmall {
  background-image: url('/theme/default/img/trasho16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconTwitterLarge {
  background-image: url('/theme/default/img/twitter32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconPencilSmall {
  background-image: url('/theme/default/img/pencil16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconQuestionCircleSmall {
  background-image: url('/theme/default/img/questioncircle16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconUsersLarge {
  background-image: url('/theme/default/img/users32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconUserLarge {
  background-image: url('/theme/default/img/user32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
html {
  background-color: #eeeeee;
}
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dddddd),to(#eeeeee));
  background-image: -webkit-linear-gradient(top,#dddddd,#eeeeee);
  background-image: -moz-linear-gradient(top,#dddddd,#eeeeee);
  background-image: -o-linear-gradient(top,#dddddd,#eeeeee);
  background-image: linear-gradient(to bottom,#dddddd,#eeeeee);
}
p {
  margin: 10px 0;
}
#header {
  padding: 5px;
}
#header #headerOptions {
  float: right;
  text-align: right;
}
#header #headerOptions #actions a {
  margin: 0px 5px;
  text-decoration: none;
}
#header #headerOptions #actions .currentCalendarDate {
  font-size: 1.1em;
  font-weight: bold;
}
#header #headerOptions #calendarPosition {
  padding: 5px 0;
}
#header #headerOptions #calendarPosition .date {
  font-size: 1.2em;
  font-weight: bold;
}
#header #headerOptions #calendarPosition .timezone {
  font-size: 1.0em;
}
#header img.logo {
  max-width: 20px;
  max-height: 20px;
  display: inline;
}
#header h1 {
  display: inline;
  font-size: 1.3em;
}
#header h1 a {
  text-decoration: none;
  color: black;
}
#header h2 {
  display: inline;
  font-size: 1.0em;
}
#header h2 a {
  text-decoration: none;
  color: black;
}
#header h3 {
  padding: 0px 0px 0px 10px;
  background: url('/theme/default/img/angleright16.png') left center no-repeat;
  display: inline;
  font-size: 1.1em;
}
#header h3 a {
  text-decoration: none;
  color: black;
}
#page {
  clear: both;
  padding: 5px;
}
div.filterListEventWrapper {
  padding: 5px 0;
}
div.filterListEventWrapper form.filterListEvent {
  background: #e9e9e9;
  padding: 10px;
}
div.filterListEventWrapper form.filterListEvent div.inputField {
  display: inline;
  padding: 10px;
}
div.filterListEventWrapper form.filterListEvent #eventListFilterFromWrapper input {
  background: url('/theme/default/img/dateFilterBackground.png') no-repeat right white;
}
div.filterListEventWrapper form.filterListEvent div.submitField {
  display: inline;
  padding: 10px;
}
div.filterListEventWrapper form.filterListEvent div.submitField input {
  background: #009900;
  color: white;
  border: 2px solid #009900;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
table.calendar {
  width: 100%;
}
table.calendar td {
  border: 1px solid black;
  padding: 2px;
  width: 14%;
  background: white;
}
table.calendar td div.date {
  font-weight: bold;
  text-align: center;
}
table.calendar td .addURL {
  display: none;
}
table.calendar td:hover .addURL {
  display: inline;
}
table.calendar td.day6,
table.calendar td.day7 {
  background: none repeat scroll 0 0 #EEEEEE;
}
table.calendar td.today {
  background: none repeat scroll 0 0 #F8E8D7;
  border: 3px solid #F89E3E;
}
table.calendar .events {
  min-height: 50px;
}
table.calendar .event {
  background: none repeat scroll 0 0 #DBD3AF;
  border: 1px solid #356C8F;
  border-radius: 3px 3px 3px 3px;
  margin: 5px 15px;
  padding: 5px;
}
table.calendar .event .start_at {
  font-size: 0.8em;
}
table.calendar .event a {
  color: #222;
  text-decoration: none;
}
table.calendar .event a:hover {
  color: block;
  text-decoration: underline;
}
table.calendar .event div.currentUserAttendance {
  float: right;
  padding: 0px 0px 5px 5px;
}
table.calendar .event div.currentUserAttendance a {
  text-decoration: none;
}
table.calendar .event .below {
  clear: both;
}
table.calendar .deleted {
  background: url('/theme/default/img/deletedBackground.png');
}
#PopupMask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-color: rgba(200,200,200,0.7);
  z-index: 500;
}
.PopupBox {
  border: 4px solid #0DA20D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: white;
  padding: 0;
  min-width: 600px;
  width: 50%;
  top: 25px;
  left: 20%;
  position: fixed;
  z-index: 1000;
}
@media screen and (max-width: 750px) {
  .PopupBox {
    min-width: 200px;
    width: 95%;
    top: 25px;
    left: 10px;
  }
}
.PopupBox .PopupBoxClose {
  padding: 3px;
  background: #0DA20D;
  text-align: right;
}
.PopupBox .PopupBoxClose a {
  color: white;
  text-decoration: none;
}
.PopupBox #ExportPopupIntroText {
  padding: 10px;
}
.PopupBox #ExportPopupIntroText div {
  display: inline;
}
.PopupBox #ExportPopupIntroText label {
  display: block;
}
.PopupBox ul#ExportPopupMenu {
  padding: 15px 5px 5px 5px;
}
.PopupBox ul#ExportPopupMenu li {
  padding: 2px;
  line-height: 2.0em;
  display: inline;
}
.PopupBox ul#ExportPopupMenu li .wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
  background: #d4d8db;
  line-height: 1.6;
}
.PopupBox ul#ExportPopupMenu li .wrapper a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.PopupBox ul#ExportPopupMenu li .wrapper.current {
  font-weight: bold;
  background: #ffffff;
}
.PopupBox ul#ExportPopupMenu li .wrapper.current a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.PopupBox ul#ExportPopupMenu li .wrapper:hover {
  background: #f2f2f2;
}
.PopupBox ul#ExportPopupMenu li .wrapper img {
  max-width: 16px;
  max-height: 16px;
}
@media screen and (max-width: 500px) {
  .PopupBox ul#ExportPopupMenu li .wrapper {
    line-height: 0.1em;
  }
  .PopupBox ul#ExportPopupMenu li .wrapper .wrapper {
    display: block;
  }
  .PopupBox ul#ExportPopupMenu li .wrapper .wrapper a {
    display: block;
  }
}
.PopupBox .content {
  padding: 10px;
}
.PopupBox .PopupBoxContent {
  padding: 10px;
}
.PopupBox #ExportToGoogleCalendar input.exportlink {
  display: block;
  width: 100%;
}
.PopupBox #EventAttendancePopupContent {
  padding: 5px;
}
.PopupBox #EventAttendancePopupContent .savingIndicator,
.PopupBox #EventAttendancePopupContent .savedIndicator,
.PopupBox #EventPopupAttendanceContent .savingIndicator,
.PopupBox #EventPopupAttendanceContent .savedIndicator {
  padding-left: 10px;
  font-style: italic;
}
#footer {
  padding: 10px 5px;
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}
.PopupBox #EventPopupContent {
  padding: 5px;
}
.PopupBox #EventPopupTitle {
  padding: 5px 0;
  font-weight: bold;
  font-size: 110%;
}
.PopupBox #EventPopupDescription {
  padding: 5px 0;
}
.PopupBox #EventPopupTimes {
  color: #ec2327;
  background: url('/theme/default/img/eventFooterCalendarIcon.png') no-repeat;
  padding: 5px 10px 5px 20px;
}
.PopupBox .EventPopupLink {
  padding: 5px 0;
  text-align: right;
}
.PopupBox #EventPopupGroupsWrapper .groupTitle {
  padding: 5px 0;
  font-weight: bold;
}
.PopupBox #EventPopupGroupsWrapper .groupDescription {
  padding: 5px 0;
}
.PopupBox #EventPopupVenueWrapper .venueTitle {
  padding: 5px 0;
  font-weight: bold;
}
.PopupBox #EventPopupVenueWrapper .venueDescription {
  padding: 5px 0;
}
.PopupBox #EventPopupVenueWrapper .venueAddress {
  padding: 5px 0;
}
