ul.mainListCuratedLists li.curatedlist {
  min-height: 50px;
  margin: 5px 5px;
  border-bottom: 2px solid #E9E9E9;
}
ul.mainListCuratedLists li.curatedlist .title {
  padding: 2px 0 5px 0;
}
ul.mainListCuratedLists li.curatedlist .title .text {
  font-size: 1.1em;
  font-weight: bold;
}
ul.mainListCuratedLists li.curatedlist .title .futureEvents {
  margin-left: 10px;
  padding: 4px 20px;
  font-size: 0.8em;
  font-weight: normal;
  background: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
ul.mainListCuratedLists li.curatedlist .title a {
  color: #333;
  text-decoration: none;
}
ul.mainListCuratedLists li.curatedlist .title a:hover,
ul.mainListCuratedLists li.curatedlist .title a:focus {
  color: black;
  text-decoration: underline;
}
ul.mainListCuratedLists li.curatedlist .editContentsWrapper {
  padding: 5px 0;
  text-align: right;
}
ul.mainListCuratedLists li.curatedlist .editContentsWrapper .addedViaGroup {
  font-style: italic;
}
ul.mainListCuratedLists li.nodata {
  margin: 5px 5px;
  font-style: italic;
}
@media screen and (min-width: 750px) {
  ul.mainListCuratedlists li.curatedlist,
  ul.mainListCuratedlists li.nodata {
    margin: 5px 50px;
  }
}
ul.infoBoxListCuratedLists li.curatedlist {
  font-size: 0.8em;
}
ul.mainListEvents li.event .curatedListOptions {
  text-align: right;
}
form .curatedlistOptionsActionWrapper {
  float: right;
  display: inline;
  padding: 6px;
  margin: 0;
  line-height: 1.2;
  text-align: right;
}
form .curatedlistOptionsActionWrapper input[type="submit"] {
  display: inline;
  background: #72DA72;
  padding: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 1px;
  color: #333;
  font-size: 1.0em;
  text-decoration: none;
}
form .curatedlistOptionsActionWrapper input[type="submit"]:hover,
form .curatedlistOptionsActionWrapper input[type="submit"]:focus {
  color: black;
  text-decoration: underline;
}
form .afterCuratedlistOptionsActionWrapper {
  clear: right;
}
