#MapTimeControls input {
  width: 75px;
}
#MapTimeDisplay .value {
  display: inline;
  padding: 2px 5px;
}
#MapTimeDisplay .value div {
  display: inline;
}
ul.mapTimeEvents li {
  width: 30%;
  background: #dcc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
ul.mapTimeEvents li p.eventTitle {
  margin: 2px 0;
  padding: 0;
}
ul.mapTimeEvents li p.eventTitle a {
  color: #333;
  text-decoration: none;
}
ul.mapTimeEvents li p.eventTitle a:hover,
ul.mapTimeEvents li p.eventTitle a:focus {
  color: black;
  text-decoration: underline;
}
ul.mapTimeEvents li p.venueTitle {
  margin: 2px 0;
  padding: 0;
  font-style: italic;
  text-align: right;
}
.afterMapTimeEvents {
  clear: both;
}
