{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page2col.html.twig' %}

{% block pageTitle %}You - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/currentuser', 'label':'Your details' } ]  } %}
{% endblock %}

{% block contentLeft %}
	Let's talk about you.
{% endblock %}


{% block contentRight %}

	<ul class="actionList">
		
		{% if currentSite.cachedIsMultipleTimezones %}
			<li><a href="/mytimezone"><div class="fa fa-globe fa-2x"></div> Timezone: {{ currentTimeZone }}</a></li>
		{% endif %}
				
		<li id="userWatchesSite">
			{% if currentUserWatchesSite %}
				<a href="/watch/"><div class="fa fa-eye fa-2x"></div> Watching!</a>
			{% else %}
				<a href="/watch/"><div class="fa fa-eye fa-2x"></div> Watch?</a>
			{% endif %}
		</li>
		<li><a href="{{ config.getWebIndexDomainSecure() }}/me/"><div class="fa fa-user fa-2x"></div> Your account</a></li>
		{% if currentUserActions.has("org.openacalendar","admin") %}
			<li><a href="/admin"><div class="fa fa-cogs fa-2x"></div> Calendar Admin</a></li>
		{% endif %}
		<li><a href="{{ config.getWebIndexDomainSecure() }}/me/logout"><div class="fa fa-user fa-2x"></div> Logout</a></li>
		
		
	</ul>

{% endblock %}

