{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page2col.html.twig' %}

{% block pageTitle %}Places - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/places">places</a></li>
{% endblock %}

{% block contentLeft %}
	Let's go places!
{% endblock %}


{% block contentRight %}

	<ul class="actionList">
		{% if currentSite.cachedIsMultipleCountries %}
			<li><a href="/country"><div class="iconGlobeLarge"></div> Countries</a></li>
		{% else %}
			<li><a href="/country/{{ currentSiteHasOneCountry.twoCharCode }}"><div class="iconGlobeLarge"></div> {{ currentSiteHasOneCountry.title }}</a></li>
		{% endif %}
		{% if currentSite.isFeatureVirtualEvents %}
			<li><a href="/venue/virtual"><div class="iconGlobeLarge"></div> Virtual</a></li>
		{% endif %}
		{% if currentSite.isFeaturePhysicalEvents %}
			<li><a href="/venue"><div class="iconGlobeLarge"></div> Venues</a></li>
			{% if currentSite.isFeatureMap %}
				<li><a href="/map"><div class="iconGlobeLarge"></div> Map</a></li>
			{% endif %}	
			{% if currentUserActions.has("org.openacalendar","venueNew") %}
				<li><a href="/venue/new"><div class="iconGlobeLarge"></div> New venue</a></li>
			{% endif %}
		{% endif %}
	</ul>

{% endblock %}

