{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Places - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/places', 'label':'places' } ]  } %}
{% endblock %}

{% block content %}

	<div class="contentTwoColumns">

		<div class="contentTwoColumnsLeft">

			<p>Let's go places!</p>

		</div>

		<div class="contentTwoColumnsRight">

			<ul class="actionList">
				{% if currentSite.cachedIsMultipleCountries %}
					<li><a href="/country"><div class="fa fa-globe fa-2x"></div> Countries</a></li>
				{% else %}
					<li><a href="/country/{{ currentSiteHasOneCountry.twoCharCode }}"><div class="fa fa-globe fa-2x"></div> {{ currentSiteHasOneCountry.title }}</a></li>
				{% endif %}
				{% if currentSiteFeatures.has('org.openacalendar','VirtualEvents') %}
					<li><a href="/venue/virtual"><div class="fa fa-globe fa-2x"></div> Virtual</a></li>
				{% endif %}
				{% if currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
					<li><a href="/venue"><div class="fa fa-globe fa-2x"></div> Venues</a></li>
					{% if currentSiteFeatures.has('org.openacalendar','Map') %}
						<li><a href="/map"><div class="fa fa-globe fa-2x"></div> Map</a></li>
					{% endif %}
					{% if currentUserActions.has("org.openacalendar","venueNew") %}
						<li><a href="/venue/new"><div class="fa fa-globe fa-2x"></div> New venue</a></li>
					{% endif %}
				{% endif %}
			</ul>

		</div>
	</div>

{% endblock %}

