{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	<meta name="openacalendar:venuevirtual" content="true" />
{%  endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/venue', 'label':'venues' }, { 'url':'/venue/virtual', 'label':'virtual' } ]  } %}
{% endblock %}


{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','VirtualEvents') %}
		<div class="flash-error">This feature has been disabled on this calendar.</div>
	{% endif %}
		
		
	<h2>Virtual</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="action">
				<a href="/api1/venue/virtual/events.ical" onclick="showExportSharePopup(); return false;">
					{%  include '/site/common/actionExportShareLabel.html.twig' %}
				</a>
			</li>
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/venue/virtual">Details &amp; Events</a></li>
			<li class="tab {% block tabHistory %}{% endblock %}"><a href="/venue/virtual/history">History of changes</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">
		var exportData = { venue:'virtual', venueVirtual:true }
	</script>
{% endblock %}

