{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/venuevirtual/page.mainTab.html.twig' %}

{% block pageTitle %}Virtual - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/venue/virtual/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
	{{ parent() }}
{% endblock %}

{% block actions %}
{% endblock %}

{% block tabDetails %}currentTab{% endblock %}

{% block switcherAgenda %}current{% endblock %}

{% block eventsContent %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true}  %}
		{% else %}
			<li class="nodata">
				No events found.
			</li>		
		{% endfor %}
	</ul>

{% endblock %}


{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}




