<div id="footer">
	<p>{{ currentSite.footerText | nl2br  | linkify }}</p>
	<p>
		Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a> - 
		<a href="/displayboard">displayboard</a> - 
		<a href="http://{{ config.webIndexDomain }}/terms">terms</a> - 
		<a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited {{ COPYRIGHT_YEARS }}</a>
	</p>
	{% if currentUserCanAdminSite %}
		<p><a href="/admin">Admin</a></p>
	{% endif %}
</div>

