
{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Tags - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/tag', 'label':'tags' } ]  } %}
{% endblock %}

{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','Tag') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
	
	<h2>Tags</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% if currentUserActions.has("org.openacalendar","tagNew") %}
				<li class="action">
					<a href="/tag/new"><div class="fa fa-pencil"></div> Add a tag</a>
				</li>
			{% endif %}
			<li class="action">
				<li class="tab currentTab"><a href="/tag">Tags</a></li>
			</li>
		</ul>
		<div id="innerPage">

			<ul class="mainListTags">
				{% for tag in tags %}
					<li class="tag">
						<div class="title"><a href="/tag/{{ tag.slugForURL }}">{{ tag.title }}</a></div>
						{{ tag.description | nl2br }}
					</li>
				{% else %}
					<li class="nodata">
						No tags found.
					</li>					
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>
		
{% endblock %}
