{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{%  if breadcrumbs %}
	<ul class="breadcrumbs">
		{%  for breadcrumb in breadcrumbs %}
			<li{%  if loop.last %} class="current"{%  endif %}><a href="{{  breadcrumb.url }}"><span class="fa fa-angle-right"></span>  {{ breadcrumb.label }}</a></li>
		{%  endfor %}
	</ul>
{%  endif %}

