{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="filterListEventWrapper">
	<form method="get" class="filterListEvent">
		<input type="hidden" name="eventListFilterDataSubmitted" value="1">

		{% if eventListFilterParams.dateControls %}
			<div class="inputField">
				<label><input type="checkbox" name="fromNow" value="1" {% if eventListFilterParams.fromNow %}checked{% endif %}> From now</label>
			</div>

			<div class="inputField" id="eventListFilterFromWrapper">
				<label>From <input type="text" name="from" value="{{  eventListFilterParams.from }}"></label>
			</div>
		{% endif %}
		
		{% if eventListFilterParams.specifiedUserControls %}
			<select name="specifiedUserWhich">
				<option value="AW" {% if eventListFilterParams.includeSpecifiedUserWatching %}selected{% endif %}>Attending or Watching</option>
				<option value="A" {% if not eventListFilterParams.includeSpecifiedUserWatching %}selected{% endif %}>Attending</option>
			</select>
		{% endif %}


		<div class="inputField">
			<label><input type="checkbox" name="includeDeleted" value="1" {% if eventListFilterParams.includeDeleted %}checked{% endif %}> Show Deleted</label>
		</div>

		<div class="submitField">
			<input type="submit" value="Filter">
		</div>
	</form>
</div>
