<div id="footer">
	<ul>
		<li><a href="/contact">contact</a></li>
		<li><a href="/terms">terms</a></li>
		<li><a href="/privacy">privacy</a></li>
		<li><a href="/widgethelp">widget</a></li>
		<li><a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited {{ COPYRIGHT_YEARS }}</a> (<a href="/credits">credits</a>)</li>
	</ul>
</div>
