<div id="footer">
	<ul>
		{%  if extensions.hasExtensionID('org.openacalendar.contact') %}<a href="{{ config.getWebIndexDomainSecure() }}/contact">contact</a>{% endif %}
		<li><a href="/terms">terms</a></li>
		<li><a href="/privacy">privacy</a></li>
		<li><a href="/widgethelp">widget</a></li>
		<li>Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a></li>
	</ul>
</div>
