{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div id="footer">
	<ul>
		{%  if extensions.hasExtensionID('org.openacalendar.contact') %}<a href="{{ config.getWebIndexDomainSecure() }}/contact">contact</a>{% endif %}
		<li><a href="/terms">terms</a></li>
		<li><a href="/privacy">privacy</a></li>
		<li><a href="/widgethelp">widget</a></li>
		<li>Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a></li>
	</ul>
</div>
