<div id="footer">
	<ul>
		<li><a href="/contact">contact</a></li>
		<li><a href="/terms">terms</a></li>
		<li><a href="/privacy">privacy</a></li>
		<li><a href="/widgethelp">widget</a></li>
		<li>Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a></li>
	</ul>
</div>
