{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [
		{ 'url':'/admin', 'label':'admin' },
		{ 'url':'/admin/usergroup', 'label':'user groups' },
		{ 'url':'/admin/usergroup/' ~ usergroup.id, 'label':usergroup.title }
	]  } %}
{% endblock %}



{% block content %}

		
	<h2>{{  usergroup.title }}</h2>

	<div class="pageActionsWrapper">
		<ul class="pageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/admin/usergroup/{{  usergroup.id }}">Details</a></li>
			<li class="tab {% block tabPermissions %}{% endblock %}"><a href="/admin/usergroup/{{  usergroup.id }}/permissions">Manage Permissions</a></li>
			<li class="tab {% block tabUsers %}{% endblock %}"><a href="/admin/usergroup/{{  usergroup.id }}/users">Manage Users</a></li>
		</ul>
	</div>


	{% block innerContent %}{% endblock %}

{% endblock %}

