{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

<form action="" class="styled" method="POST">
	<input type="hidden" name="action" value="setvenue">
	<div class="bigSubmitActionWrapper"><input type="submit" value="I know the Venue" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>
</form>

<form action="" class="styled" method="POST">
	<input type="hidden" name="action" value="setarea">
	<div class="bigSubmitActionWrapper"><input type="submit" value="Exact Venue Not Known" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>
</form>

