{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

<div id="innerPageWrapper">

	<div id="innerPage">

		<div class="innerPageLeft">

			<h3>Does one group organise many events?</h3>

			<p>You can put all your events into one group.</p>

			<p>Groups let you add more information and lets users find future events
				from the same organisers easily.</p>

			<form id="GroupSearchForm" method="post">
				<input type="hidden" name="action" value="groupsearch">
				Search for a group: <input type="text"  name="groupsearch" id="GroupSearchText" autocomplete="off" value="{{  groupSearchText }}">

				<div class="bigSubmitActionWrapper"><input type="submit" value="Search For a Group" class="bigSubmitAction"/></div>
				<div class="afterBigSubmitActionWrapper"></div>
			</form>

			<ul class="mainListGroups" id="GroupSearchList">
				{%  if groups is defined %}
					{% for group in groups %}
						<li class="group">
							<div class="title">{{  group.title }}</div>
							<form action="" class="styled" method="POST">
								<input type="hidden" name="action" value="selectgroup">
								<input type="hidden" name="group" value="{{  group.slug }}">
								<div class="bigSubmitActionWrapper"><input type="submit"  value="Create Event in this Group" class="bigSubmitAction"/></div>
								<div class="afterBigSubmitActionWrapper"></div>
							</form>
						</li>
					{% endfor %}
				{%  endif %}
			</ul>

		</div>

		<div class="innerPageRight">

			<h3>Is this a one-off event?</h3>

			<p>You can just create an event by itself.</p>

			<form action="" class="styled" method="POST">
				<input type="hidden" name="action" value="nogroup">


				<div class="bigSubmitActionWrapper"><input type="submit"  value="Create Event Without a Group" class="bigSubmitAction"/></div>
				<div class="afterBigSubmitActionWrapper"></div>
			</form>

		</div>


		<div class="afterInnerPageContent"></div>

	</div>
</div>


