{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}


<div class="likeFormStyled">

	{%  if draft.hasDetailsValue('group.new') and draft.getDetailsValue('group.new') %}
		<div class="rowWrapper">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapper"><div class="sectionHeader">Who</div></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">New Group</div>
			<div class="widgetWrapper">{{ draft.getDetailsValue('group.title') }}</div>
			<div class="after"></div>
		</div>
	{%  elseif draft.hasDetailsValue('group.title') %}

		<div class="rowWrapper">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapper"><div class="sectionHeader">Who</div></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Group</div>
			<div class="widgetWrapper">{{ draft.getDetailsValue('group.title') }}</div>
			<div class="after"></div>
		</div>
	{%  endif %}

</div>


