{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

<form action="#" method="post" class="styled"  novalidate="novalidate">
	<input type="hidden" name="action" value="startAndEndFreeText">

	<div class="rowWrapper">
		<div class="labelWrapper">Start and End?</div>
		<div class="widgetWrapper" id="ReadableDateTimeRange">
			<input type="text" name="startAndEndFreeText">

			<div class="helpText">
				<p>You can put in text like:</p>
				<ul class="normal">
					<li>2nd dec 2015 7pm to 9pm</li>
					<li>2nd wed dec between 19:30 and 22:00</li>
					<li>fri 7pm for 3 hours 30 mins</li>
				</ul>
			</div>
		</div>
		<div class="after"></div>
	</div>


	<div class="bigSubmitActionWrapper"><input type="submit"  value="Next" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>

</form>
