{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}New Event - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/event">events</a></li>
{% endblock %}

{% block content %}

	<h3>New event</h3>

	<form action="/event/new/go" class="styled" method="GET">

		<div class="rowWrapper">
			<div class="labelWrapper">What is it?</div>
			<div class="widgetWrapper">
				<input type="text" name="what">
			</div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">When is it?</div>
			<div class="widgetWrapper">
				<input type="text" name="when">
				{% include '/site/common/helpLink.html.twig' with {'id':'WhenHelpPopup' } %}
			</div>
			<div class="after"></div>
		</div>

		<div class="actionWrapperBig">
			<input type="submit" value="Continue creating an event">
		</div>	
	</form>
{% endblock %}
		
		

{% block scripts %}
	<script type="text/javascript">
		$( document ).ready( function() {
			$('#WhenHelpPopup')
			.show()
			.click(function() { 
				showHelpPopup('Enter when the event is.<ul>'+
						'<li>eg. 2nd dec 2013 7pm to 9pm</li>'+
						'<li>eg. 2nd wed dec between 19:30 and 22:00 </li>'+
						'<li>eg. fri 7pm for 3 hours 30 mins</li>'+
						'</ul>');
				return false; 
			});
		} );
	</script>
{% endblock %}
	
	