{#
# @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
# @license http://ican.openacalendar.org/license.html 3-clause BSD
# @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
# @author James Baster <james@jarofgreen.co.uk>
#}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Add an Event - {% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/event', 'label':'events' } ]  } %}
{% endblock %}

{% block content %}

	<h3>Add an event</h3>

	<p>Create an account or login to add an event</p>

	<div class="bigButtonContainer">
		<a  class="button" href="{{ config.getWebIndexDomainSecure() }}/you/login{%  if not config.isSingleSiteMode %}?site={{ currentSite.slug }}{% endif %}">Login</a>
		<a  class="button" href="{{ config.getWebIndexDomainSecure() }}/you/register{%  if not config.isSingleSiteMode %}?site={{ currentSite.slug }}{% endif %}">Register</a>
	</div>

{% endblock %}



