html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.iconUserUnknownAttendingSmall {
  background-image: url('/theme/default/img/userunknownattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserUnknownAttendingSmall {
    background-image: url('/theme/default/img/userunknownattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.iconUserAttendingSmall {
  background-image: url('/theme/default/img/userattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserAttendingSmall {
    background-image: url('/theme/default/img/userattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.iconUserNotAttendingSmall {
  background-image: url('/theme/default/img/usernotattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserNotAttendingSmall {
    background-image: url('/theme/default/img/usernotattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.iconUserMaybeAttendingSmall {
  background-image: url('/theme/default/img/usermaybeattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserMaybeAttendingSmall {
    background-image: url('/theme/default/img/usermaybeattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
html {
  background-color: #eeeeee;
}
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dddddd),to(#eeeeee));
  background-image: -webkit-linear-gradient(top,#dddddd,#eeeeee);
  background-image: -moz-linear-gradient(top,#dddddd,#eeeeee);
  background-image: -o-linear-gradient(top,#dddddd,#eeeeee);
  background-image: linear-gradient(to bottom,#dddddd,#eeeeee);
}
p {
  margin: 10px 0;
}
#header {
  padding: 5px;
  background-color: #0DA20D;
  background-image: -webkit-linear-gradient(top,#36C036,#0DA20D);
  background-image: linear-gradient(to bottom,#36C036,#0DA20D);
  border-bottom: #004300 2px solid;
}
#header #headerOptions {
  float: right;
  text-align: right;
}
#header #headerOptions #actions a {
  margin: 0px 5px;
  text-decoration: none;
  color: #000000;
}
#header #headerOptions #actions .currentCalendarDate {
  font-size: 1.1em;
  font-weight: bold;
}
#header img.logo {
  max-width: 20px;
  max-height: 20px;
  display: inline;
}
#header h1 {
  display: inline;
  font-size: 1.6em;
  font-weight: bold;
}
#header h1 a {
  text-decoration: none;
  color: black;
}
#header h2 {
  display: inline;
  font-size: 1.4em;
}
#header h2 a {
  text-decoration: none;
  color: black;
}
#header h3 {
  padding: 0px 0px 0px 15px;
  display: inline;
  font-size: 1.3em;
}
#header h3 a {
  text-decoration: none;
  color: black;
}
#header #afterHeader {
  clear: both;
}
#calendarPosition {
  text-align: right;
  padding: 5px 0 10px 0;
}
#calendarPosition .date {
  font-size: 1.6em;
  font-weight: bold;
}
#calendarPosition .timezone {
  font-size: 1.0em;
}
#page {
  clear: both;
  padding: 5px;
}
div.filterListEventWrapper {
  padding: 5px 0;
}
div.filterListEventWrapper form.filterListEvent {
  background: #72DA72;
  padding: 10px;
}
div.filterListEventWrapper form.filterListEvent div.inputField {
  display: inline;
  padding: 10px;
}
div.filterListEventWrapper form.filterListEvent #eventListFilterFromWrapper input {
  background: url('/theme/default/img/dateFilterBackground.png') no-repeat right white;
}
div.filterListEventWrapper form.filterListEvent div.submitField {
  display: inline;
  padding: 10px;
}
div.filterListEventWrapper form.filterListEvent div.submitField input {
  background: #36C036;
  color: black;
  border: 2px solid #36C036;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
table.calendar {
  width: 100%;
}
table.calendar td {
  border: 1px solid black;
  padding: 2px;
  width: 14%;
  background: white;
}
table.calendar td div.date {
  font-weight: bold;
  text-align: center;
}
table.calendar td .addURL {
  display: none;
}
table.calendar td:hover .addURL,
table.calendar td:focus .addURL {
  display: inline;
}
table.calendar td.day6,
table.calendar td.day7 {
  background: none repeat scroll 0 0 #EEEEEE;
}
table.calendar td.today {
  background: none repeat scroll 0 0 #F8E8D7;
  border: 3px solid #F89E3E;
}
table.calendar .events {
  min-height: 50px;
}
table.calendar .event {
  background: none repeat scroll 0 0 #36C036;
  border: 1px solid #007900;
  border-radius: 3px 3px 3px 3px;
  margin: 5px 15px;
  padding: 5px;
}
table.calendar .event .start_at {
  font-size: 0.8em;
}
table.calendar .event a {
  color: #222;
  text-decoration: none;
}
table.calendar .event a:hover,
table.calendar .event a:focus {
  color: block;
  text-decoration: underline;
}
table.calendar .event div.currentUserAttendance {
  float: right;
  padding: 0px 0px 5px 5px;
}
table.calendar .event div.currentUserAttendance a {
  text-decoration: none;
}
table.calendar .event .below {
  clear: both;
}
table.calendar .deleted {
  background: url('/theme/default/img/deletedBackground.png');
}
#footer {
  padding: 10px 5px;
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}
#PopupMask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-color: rgba(200,200,200,0.7);
  z-index: 500;
}
.popupBox {
  border: 4px solid #004300;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: white;
  padding: 0;
  width: 95%;
  min-width: 300px;
  max-width: 950px;
  position: absolute;
  top: 25px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1000;
}
.popupBox .popupBoxClose {
  padding: 3px;
  background: #004300;
  text-align: right;
}
.popupBox .popupBoxClose a {
  color: white;
  text-decoration: none;
}
.popupBox .popupBoxContent {
  padding: 10px;
}
.popupBox .popupLink {
  text-align: right;
  padding: 5px 0;
  line-height: 1.5;
}
.popupBox .popupLink a {
  background: #36C036;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
}
.popupBox .popupLink a:hover,
.popupBox .popupLink a:focus {
  color: black;
}
.popupBox ul.popupListGroups li.group .title {
  padding: 5px 0;
  font-weight: bold;
}
.popupBox ul.popupListGroups li.group .description {
  padding: 5px 0;
}
.popupBox ul.popupListEvents li.event {
  padding: 4px 0;
}
.popupBox ul.popupListEvents li.event .time {
  color: black;
  font-weight: 400;
  background: url('/theme/default/img/eventFooterCalendarIcon.png') no-repeat;
  padding: 5px 10px 5px 20px;
}
.popupBox .popupShowEvent .title {
  padding: 5px 0;
  font-weight: bold;
  font-size: 110%;
}
.popupBox .popupShowEvent .description {
  padding: 5px 0;
}
.popupBox .popupShowEvent .times {
  color: black;
  background: url('/theme/default/img/eventFooterCalendarIcon.png') no-repeat;
  padding: 5px 10px 5px 20px;
}
.popupBox .popupShowEvent .link {
  padding: 5px 0;
  text-align: right;
}
.popupBox .popupShowVenue .title {
  padding: 5px 0;
  font-weight: bold;
}
.popupBox .popupShowVenue .description {
  padding: 5px 0;
}
.popupBox .popupShowVenue .address {
  padding: 5px 0;
}
.popupBox #ExportSharePopupShareIntroText,
.popupBox #ExportSharePopupExportIntroText {
  padding: 10px;
}
.popupBox #ExportSharePopupShareIntroText div,
.popupBox #ExportSharePopupExportIntroText div {
  display: inline;
}
.popupBox #ExportSharePopupShareIntroText label,
.popupBox #ExportSharePopupExportIntroText label {
  display: block;
}
.popupBox #ExportSharePopupShareIntroText .header,
.popupBox #ExportSharePopupExportIntroText .header {
  font-weight: bold;
}
.popupBox ul#ExportSharePopupExportMenu {
  padding: 15px 5px 5px 5px;
}
.popupBox ul#ExportSharePopupExportMenu li {
  padding: 2px;
  line-height: 2.0em;
  display: inline;
}
.popupBox ul#ExportSharePopupExportMenu li .wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
  background: #d4d8db;
  line-height: 1.6;
}
.popupBox ul#ExportSharePopupExportMenu li .wrapper a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.popupBox ul#ExportSharePopupExportMenu li .wrapper.current {
  font-weight: bold;
  background: #ffffff;
}
.popupBox ul#ExportSharePopupExportMenu li .wrapper.current a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.popupBox ul#ExportSharePopupExportMenu li .wrapper:hover,
.popupBox ul#ExportSharePopupExportMenu li .wrapper:focus {
  background: #f2f2f2;
}
.popupBox ul#ExportSharePopupExportMenu li .wrapper img {
  max-width: 16px;
  max-height: 16px;
}
@media screen and (max-width: 500px) {
  .popupBox ul#ExportSharePopupExportMenu li .wrapper {
    line-height: 0.1em;
  }
  .popupBox ul#ExportSharePopupExportMenu li .wrapper .wrapper {
    display: block;
  }
  .popupBox ul#ExportSharePopupExportMenu li .wrapper .wrapper a {
    display: block;
  }
}
.popupBox #ExportToGoogleCalendar input.exportlink {
  display: block;
  width: 100%;
}
.popupBox #EventAttendancePopupContent {
  padding: 5px;
}
.popupBox #EventAttendancePopupContent .savingIndicator,
.popupBox #EventAttendancePopupContent .savedIndicator,
.popupBox #EventPopupAttendanceContent .savingIndicator,
.popupBox #EventPopupAttendanceContent .savedIndicator {
  padding-left: 10px;
  font-style: italic;
}
.popupBox ul.ExportSharePopupShareMenu {
  padding: 10px;
}
.popupBox ul.ExportSharePopupShareMenu li {
  display: inline;
  padding: 10px;
}
.popupBox ul.ExportSharePopupShareMenu li a .fa {
  color: black;
}
.popupBox ul.mediaGrid li.media {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  float: left;
  margin: 2px;
}
.popupBox ul.mediaGrid li.media img {
  max-width: 50px;
  max-height: 50px;
}
.popupBox .afterMediaGrid {
  clear: left;
}
