{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<a href="#" id="WhenHelpPopup" style="display: none;" class="helpPopupLink" title="What's This?"><div class="iconQuestionCircleSmall" title="help"></div></a>
