{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/country/page.html.twig' %}


{% block pageTitle %}{{ country.title }} - {% endblock %} 


{% block actions %}
{% endblock %}


{% block innerContent %}

	{% if currentUserActions.has("org.openacalendar","eventNew") %}
		<p>Is this an event?</p>

		<form method="get" action="/event/new">
			<input type="hidden" name="country_id" value="{{ country.twoCharCode }}">
			<div class="bigSubmitActionWrapper"><input type="submit"  value="New Event" class="bigSubmitAction"/></div>
			<div class="afterBigSubmitActionWrapper"></div>
		</form>
	{% endif %}

	{%  if currentUserActions.has("org.openacalendar","actionAreaNew") %}
		<P>Is this an area with several venues?</P>
	
		{% include 'site/common/areaList.html.twig' with { 'areasToList':childAreas} %}

		<form method="get" action="/country/{{ country.twoCharCode }}/newArea">
			<div class="bigSubmitActionWrapper"><input type="submit"  value="New Area" class="bigSubmitAction"/></div>
			<div class="afterBigSubmitActionWrapper"></div>
		</form>
	{%  endif %}

	{% if currentUserActions.has("org.openacalendar","venueNew") %}
		<p>Is this a distinct venues with events?</P>

		<form method="get" action="/venue/new/">
			<input type="hidden" name="country_id" value="{{ country.twoCharCode }}">
			<div class="bigSubmitActionWrapper"><input type="submit"  value="New Venue" class="bigSubmitAction"/></div>
			<div class="afterBigSubmitActionWrapper"></div>
		</form>
	{%  endif %}


{% endblock %}


{% block scripts %}
{% endblock %}

