{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/country/page.html.twig' %}


{% block pageTitle %}{{ country.title }} - {% endblock %} 


{% block actions %}
{% endblock %}


{% block innerContent %}

	<P>Is this an area with several venues?</P>
	
	{% include 'site/common/areaList.html.twig' with { 'areasToList':childAreas} %}
	
	<p><a href="/country/{{ country.twoCharCode }}/newArea">New Area</a></p>
	
{% endblock %}


{% block scripts %}
{% endblock %}

