{#
 # @package org.openacalendar.curatedlists
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="filterListWrapper">
	<form method="get" class="filterList">
		<input type="hidden" name="curatedListListFilterDataSubmitted" value="1">

		<div class="inputField">
			<label>Search: <input type="text" name="freeTextSearch" value="{{ curatedListListFilterParams.freeTextSearch }}" autocomplete="off"></label>
		</div>

		<div class="inputField">
			<label><input type="checkbox" name="withFutureEventsOnly" value="1" {% if curatedListListFilterParams.withFutureEventsOnly %}checked{% endif %}> With future events only</label>
		</div>

		<div class="submitField">
			<input type="submit" value="Filter">
		</div>
	</form>
</div>
