{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div id="footer">
	<p>
		<a href="/displayboard">displayboard</a> - 
		<a href="/contact">contact</a> -
		<a href="/terms">terms</a> -
		<a href="/privacy">privacy</a> -
		<a href="/widgethelp">widget</a> -	
		Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a> -
		<a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited {{ COPYRIGHT_YEARS }}</a>
	</p>
	{% if currentUserActions.has("org.openacalendar","admin") %}
		<p><a href="/admin">Admin</a></p>
	{% endif %}
</div>

