{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Events - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/event/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/event">events</a></li>
{% endblock %}


{% block content %}

	<h2>Events</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% if currentUserActions.has("org.openacalendar","eventNew") %}
				<li class="action">
					<a href="/event/new"><div class="iconPencilSmall"></div> new</a>
				</li>
			{% endif %}
			{# lists link is needed: if we have user who can't use menus for some reason, this is their way to find that page  #}
			{% if currentSite.isFeatureCuratedList %}
				<li class="action"><a href="/curatedlist"><div class="iconListSmall"></div> Lists</a></li>
			{% endif %}	
			{# tags link is needed: if we have user who can't use menus for some reason, this is their way to find that page  #}
			{% if currentSite.isFeatureTag %}
				<li class="action"><a href="/tag"><div class="iconTagsSmall"></div> Tags</a></li>
			{% endif %}
			{# imports link is needed: if we have user who can't use menus for some reason, this is their way to find that page  #}
			{% if currentSite.isFeatureImporter %}
				<li class="action"><a href="/importurl"><div class="iconCloundDownloadSmall"></div> Imports</a></li>
			{% endif %}
			<li class="action">
				<a href="/api1/events.ical" onclick="showExportPopup(); return false;">
					<div class="iconDownloadSmall"></div> export
				</a>
			</li>
			<li class="tab currentTab"><a href="/event">Agenda</a></li>
			<li class="tab"><a href="/event/calendar">Calendar</a></li>
		</ul>
		<div id="innerPage">

			{% include '/site/eventListFilterParams.html.twig' %}

			<ul class="events">
				{% for event in events %}
					{% include '/site/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
				{% else %}
					<li>
						No events found.
						{% if currentUserActions.has("org.openacalendar","eventNew") %}Why not <a href="/event/new">add one</a>?{% endif %}
					</li>					
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>

	

{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = {}</script>
{% endblock %}


{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}
	
