{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Help - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/help/contribute" />
{% endblock %}

{% block breadcrumbs %}
	<li><a href="/help/">help</a></li>
	<li class="current"><a href="/help/contribute">contribute</a></li>
{% endblock %}



{% block content %}

<h2>Contribute</h2>
	
<p>All edits and deletes are versioned to ensure safety, like a wiki.</p>

<p>To start, simply create an account. Your username will be made public along side any edits you do 
but your email address will be kept private.</p>

	
{% endblock %}
