{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Help - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/help/personalcalendar" />
{% endblock %}

{% block breadcrumbs %}
	<li><a href="/help/">help</a></li>
	<li class="current"><a href="/help/personalcalendar">personalcalendar</a></li>
{% endblock %}



{% block content %}

<h2>Personal Calendar</h2>
	
<p>Any logged-in user can have there own personal and private calendar. This can be browsed on the site, but 
a personal ical Feed is also available. This calendar includes:</p>

<ol>
	<li>Any event they have said they will or may attend.</li>
	<li>Any events <a href="/help/watch"> they watch</a>. This is optional.</li>
</ol>

<p>When a user specifies their plans for an event they can also choose to make them public. 
In this case, any future events the user will or may attend will be visible on their user profile 
to share with others.</p>

{% endblock %}
