{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Help - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/help/recur" />
{% endblock %}

{% block breadcrumbs %}
	<li><a href="/help/">help</a></li>
	<li class="current"><a href="/help/recur">recur</a></li>
{% endblock %}



{% block content %}

<h2>Recur</h2>

<p>Events that recur monthly or weekly can be easily set up. Such events have to be created 
in a group so it is easy for users to deal with all the events in one place.</p>

<p>The dates for the new events (if monthly) are based on the day of the week and the week in the month. 
For example, if you start with an event on the 14 September 2012 - the 2nd friday of the month - 
then future events will be on Fri 12th Oct and Fri 9th Nov - both also the the 2nd friday of the month.</p>

<p>Firstly, create a single event within a group on the next date it happens and double check all the details are correct.</p>

<p>Then look at the event. On this page, there should be a "Recur" button.</p>

<p>On clicking "Recur" then "Montly" or "Weekly" you are presented with a list of times and dates that 
the event will recur on.</p>

<p>Double check the dates and submit the form to create the events.</p>

<ol>
<li>Note that events will not be on this list if they already exist, to prevent you 
creating 2 events at the same time.</li>
<li>Note events are only created several months into the future. This is deliberate; by 
making a contributor come back regularly we have confirmation that the event is still going.</li>
</ol>

<p>Regularly you can come back and create more monthly events. Simply find the latest 
event in the group, check it's details are still correct and press the "New Monthly Events" button.</p>


{% endblock %}
