{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Help - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/help/watch" />
{% endblock %}

{% block breadcrumbs %}
	<li><a href="/help/">help</a></li>
	<li class="current"><a href="/help/watch">watch</a></li>
{% endblock %}



{% block content %}

<h2>Watching</h2>	
	
<p>Any logged in user can choose to watch a group or a whole calendar.</p>

<p>They will recieve emails when a change is made and when there are no events left. Events will appear on their personal calendar.</p>

<p>The first time a user makes a change to a group, they are automatically set to watch it. 
However if they stop watching then make another change, they will not be set to watch it again.</p>

<p>Every email sent has a handy link to stop watching a group included.</p>

	
{% endblock %}
