{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/import/page.html.twig' %}


{% block pageTitle %}Disable {{ import.title }} - {% endblock %}


{% block actions %}
{% endblock %}


{% block innerContent %}

	<p>Note disabling the import will delete all future events.</p>


	<form action="#" method="post" class="styled">
		<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
		<input type="hidden" name="disable" value="yes">

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Disable" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>


{% endblock %}


	