{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/import/page.html.twig' %}


{% block pageTitle %}Enable {{ import.title }} - {% endblock %}


{% block actions %}
{% endblock %}


{% block innerContent %}

	
	<p>You can not enable this importer as this URL is 
		<a href="/import/{{ clashimport.slug }}">already being imported elsewhere</a>.
	</p>


{% endblock %}


	