{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/pageMinimal.html.twig' %}


{% block pageTitle %}Enable {{ import.title }} - {% endblock %}

{% block content %}

	<h2>Enable Import {{  import.title }}</h2>

	<p>This has already been done - thanks.</p>

{% endblock %}


