{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/import/page.html.twig' %}


{% block pageTitle %}Enable {{ import.title }} - {% endblock %}


{% block actions %}
{% endblock %}


{% block innerContent %}

	<div class="contentMain">

		<p>You can not enable this importer as this URL is
			<a href="/import/{{ clashimport.slug }}">already being imported elsewhere</a>.
		</p>

        <p>We check all our imports regularly for new information but there still may be a delay before the latest information appears here. </p>

        <p>If we are missing an event you think we should have, please wait a day and check again. If there is still a problem, contact us.</p>

	</div>



{% endblock %}


	