{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="currentUserAttendance" id="currentUserAttendanceForEvent{{ event.slug }}">
	<a href="{{ config.getWebSiteDomainSecure(event.siteSlug) }}/event/{{ event.slug }}" onclick="showCurrentUserAttendanceForEvent({{ event.slug }}); return false;" class="activationLinkWrapper">
		{% if event.userIsPlanAttending %}
			<img src="/theme/default/img/actionUserAttendingIcon.png" alt="You are attending" title="You are attending">
		{% elseif event.userIsPlanMaybeAttending %}
			<img src="/theme/default/img/actionUserMaybeAttendingIcon.png" alt="You are maybe attending" title="You are maybe attending">
		{% else %}
			<img src="/theme/default/img/actionUserNotAttendingIcon.png" alt="You are not attending" title="You are not attending">
		{% endif %}
	</a>
	<div class="formWrapper"></div>
</div>	
