{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/area/page.html.twig' %}


{% block pageTitle %}{{ area.title }} - {% endblock %} 

	
{% block htmlHeader %}
{% endblock %}

{% block actions %}
{% endblock %}


{% block innerContent %}

	<P>Is this an area with several venues?</P>

	{% include 'site/common/areaList.html.twig' with { 'areasToList':childAreas} %}
	
	<p><a href="/area/{{ area.slugForUrl }}/newArea">New Area</a></p>
	
	<p>Is this a distinct venues with events?</P>
	
	<p><a href="/venue/new/?area_id={{ area.slug }}">New Venue</a></p>

{% endblock %}


{% block scripts %}
{% endblock %}

