{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}


{% block pageTitle %}tasks - {% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}

	<table class="data">
		<tr>
			<th>Extension ID</th>
			<th>Task ID</th>
			<th>&nbsp;</th>
		</tr>
		{% for task in tasks %}
			<tr {% if loop.index is even %}class="alternative"{% endif %} >
				<td>{{ task.extensionId }}</td>
				<td>{{ task.taskId }}</td>
				<td>
					<a href="/sysadmin/task/{{ task.extensionId }}/{{ task.taskId }}" class="button">Show</a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}

