{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/group/page.html.twig' %}

{% block pageTitle %}Importers for {{ group.title }} - {% endblock %} 



{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block innerContent %}

	
	<ul class="mainListImports">
		{% for import in importurls %}
			<li class="import">
				<div class="title"><a href="/import/{{ import.slug }}">{{ import.title }} ({% if not import.isEnabled %}disabled{% elseif import.expiredat %}expired{% else %}enabled{% endif %})</a></div>
			</li>
		{% else %}
			<li>
				There are no imports.
			</li>								
		{% endfor %}
	</ul>

{% endblock %}


