{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/group/page.html.twig' %}


{% block pageTitle %}Watch {{ group.title }} - {% endblock %} 


{% block innerContent %}

	<div class="contentMain">

		{% if currentUserWatchesGroup %}

			<p>By watching this group you:</p>

			<ul class="listOfTextItems">
				<li>
					Receive a notification {%  if preferences['org.openacalendar']['WatchNotify'].email %} and email {% endif %} whenever someone else changes anything.
				</li>
				<li>
					Receive a notification {%  if preferences['org.openacalendar']['WatchPrompt'].email %} and email {% endif %} whenever we are about to run out of events.
				</li>
				<li>
					Optionally see the events on your personal calendar.
				</li>
				<li>
					Receive a notification {%  if preferences['org.openacalendar']['UpcomingEvents'].email %} and email {% endif %} to remind you when events are on.
				</li>
			</ul>

			<p>You can stop watching from a link in any email, or by pressing:</p>


			<form action="" method="post">
				<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
				<input type="hidden" name="action" value="unwatch">
				<div class="bigSubmitActionWrapper"><input type="submit"  value="Stop Watching" class="bigSubmitAction"/></div>
				<div class="afterBigSubmitActionWrapper"></div>
			</form>

		{% else %}
			<p>Watch this group to:</p>

			<ul class="listOfTextItems">
				<li>
					Receive a notification {%  if preferences['org.openacalendar']['WatchNotify'].email %} and email {% endif %} whenever someone else changes anything.
				</li>
				<li>
					Receive a notification {%  if preferences['org.openacalendar']['WatchPrompt'].email %} and email {% endif %} whenever we are about to run out of events.
				</li>
				<li>
					Optionally see the events on your personal calendar.
				</li>
				<li>
					Receive a notification {%  if preferences['org.openacalendar']['UpcomingEvents'].email %} and email {% endif %} to remind you when events are on.
				</li>
			</ul>

			<p>To start watching, press:</p>



			<form action="" method="post">
				<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
				<input type="hidden" name="action" value="watch">
				<div class="bigSubmitActionWrapper"><input type="submit"  value="Start Watching" class="bigSubmitAction"/></div>
				<div class="afterBigSubmitActionWrapper"></div>
			</form>
		{% endif %}

	</div>

{% endblock %}

