
{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Tags Admin - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/tag', 'label':'tags' }, { 'url':'/tag/new', 'label':'new tag' } ]  } %}
{% endblock %}

{% block content %}
	
	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.title) }}
		{{ form_row(form.description) }}
		{{ form_rest(form) }}

		<input type="submit"  value="Save" />	
	</form>

{% endblock %}

