{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/currentuser/page.events.html.twig' %}


{% block switcherAgenda %}current{% endblock %}

{% block eventsContent %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/index/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
		{% else %}
			<li class="info">You can watch groups of events or say you are attending them - and
				then your personal list of only the events you are interested in will build up here.</li>
		{% endfor %}
	</ul>

{% endblock %}

{% block scripts %}
	{{  parent() }}
	{% if config.isSingleSiteMode %}
		<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>	
	{% else %}
		<script type="text/javascript" src="/theme/default/js/userAtEvents.index.js?v={{ config.assetsVersion }}"></script>	
	{% endif %}
{% endblock %}

