{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Emails - {% endblock %} 

{% block breadcrumbs %}
	<li><a href="/me/">your account</a></li>
	<li class="current"><a href="/me/emails">emails</a></li>
{% endblock %}


{% block content %}
	
	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.email_upcoming_events) }}
		
		{{ form_row(form.email_upcoming_events_days_notice) }}
		
		
		{{ form_rest(form) }}

		<input type="submit"  value="Change" />	
	</form>

{% endblock %}


