{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Preferences - {% endblock %} 

{% block breadcrumbs %}
	<li><a href="/me/">your account</a></li>
	<li class="current"><a href="/me/prefs">preferences</a></li>
{% endblock %}


{% block content %}
	
	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_rest(form) }}

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>

{% endblock %}


