{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Public Profile - {% endblock %}

{% block breadcrumbs %}
	{%  include 'index/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/me', 'label':'your account' }, { 'url':'/me/emails','label':'emails' } ]  } %}
{% endblock %}


{% block content %}

	<div class="contentMain">

		<form action="#" method="post" class="styled">

			{{ form_errors(form) }}

			{{ form_row(form.displayname) }}

			{{ form_rest(form) }}

			<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
			<div class="afterBigSubmitActionWrapper"></div>

			<p>(Your name will be displayed to the public. It doesn't have to be your real name!)</p>

		</form>

	</div>


{% endblock %}


