{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}


{% block pageTitle %}Widgets - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/widgethelp/" />
{% endblock %}
 
	
{% block content %}

	<p>We have several widgets that let you take data from your calendar on {{ config.siteTitle }} and display it on your website.</p>
	
	<p>If you want to write your own widget, we have a full API you can use.</p>

	<p>The code for all our widgets <a href="https://github.com/OpenACalendar/OpenACalendar-Web-Widgets">is available as a Github repository under a BSD License</a>, to encourage you to improve them as you see fit.</p>
	
	
{% endblock %}
