{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'email/email.html.twig' %}

{% block content %}
	
	<p>Hello {{ user.username }}</p>

	<p>Someone has requested to reset your password.</p>

	{% include 'email/common/actionButton.html.twig' with { link: config.getWebIndexDomainSecure() ~ '/you/reset/' ~ user.id ~ '/' ~  code, text: 'Reset your password' } %}

	<p>If this was not you, please ignore this email or contact support by hitting reply.</p>

	<p>Thanks,<br>
	{{ config.siteTitle }}</p>

{% endblock %}
