{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Help - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/help" />
{% endblock %}

{% block breadcrumbs %}
	<li><a href="/help/">help</a></li>
{% endblock %}



{% block content %}

	<h2>Help</h2>
	
	<ul class="actionList">
		<li><a href="/help/watch"><img src="/img/helpIcon.png" alt="Help">Watch Calendars and Groups</a></li>
		<li><a href="/help/personalcalendar"><img src="/img/helpIcon.png" alt="Help">Personal Calendar</a></li>
		<li><a href="/help/contribute"><img src="/img/helpIcon.png" alt="Help">Contribute</a></li>
		<li><a href="/help/recur"><img src="/img/helpIcon.png" alt="Help">Recur Weekly and Monthly Events</a></li>
		<li><a href="/help/urlimport"><img src="/img/helpIcon.png" alt="Help">URL Import</a></li>
	</ul>
	
	<h2>Contact us</h2>
	
	<p>If you have not found an answer, <a href="/contact">please contact us</a>.</p>

{% endblock %}
