{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page2col.html.twig' %}

{% block pageTitle %}Admin - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/admin">admin</a></li>
{% endblock %}

{% block contentLeft %}
	This is the admin interface.
{% endblock %}


{% block contentRight %}

	<ul class="actionList">
	
		<li><a href="/admin/profile"><img src="/theme/default/img/actionProfileIcon.png">Profile</a></li>

		{% if not config.isSingleSiteMode %}
			<li><a href="/admin/visibility"><img src="/theme/default/img/actionVisibilityIcon.png">Visiblity</a></li>
			{% if currentUserOwnsSite %}
				<li><a href="/admin/owner"><img src="/theme/default/img/actionOwnerIcon.png">Owner</a></li>
			{% endif %}
		{% endif %}
					
		<li><a href="/admin/users"><img src="/theme/default/img/actionUsersIcon.png">Users (Administrators & Editors)</a></li>
		
		<li><a href="/admin/countries"><img src="/theme/default/img/actionPlacesIcon.png">Countries</a></li>
		
		{% if currentSite.isFeaturePhysicalEvents %}
			<li><a href="/admin/areas"><img src="/theme/default/img/actionPlacesIcon.png">Areas in a country</a></li>
		{% endif %}
		
		{% if currentSite.getIsFeatureTag %}
			<li><a href="/admin/tag"><img src="/theme/default/img/actionTagsIcon.png">Tags</a></li>
		{% endif %}
		
		<li><a href="/admin/sendemail"><img src="/theme/default/img/actionEmailIcon.png">Send Email with Events</a></li>
		
		<li><a href="/admin/features"><img src="/theme/default/img/actionFeaturesIcon.png">Features</a></li>
		
		<li><a href="/admin/settings"><img src="/theme/default/img/actionFeaturesIcon.png">Settings</a></li>

		<li><a href="/admin/media"><img src="/theme/default/img/actionMediaIcon.png">Media Storage</a></li>

	</ul>

{% endblock %}

