
{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}User Groups Admin - {% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/admin', 'label':'admin' },  { 'url':'/admin/usergroup', 'label':'user groups' } ]  } %}
{% endblock %}

{% block content %}


	<h2>User Groups</h2>

	<div class="pageActionsWrapper">
		<ul class="pageActions">
			<li class="action">
				<a href="/admin/usergroup/new"><div class="fa fa-pencil"></div> new</a>
			</li>
			<li class="tab currentTab"><a href="/admin/usergroup">User Groups</a></li>
		</ul>
	</div>

	<ul class="mainListUserGroups">
		{% for usergroup in usergroups %}
			<li class="userGroup">
				<div class="title"><a href="/admin/usergroup/{{ usergroup.id }}">{{ usergroup.title }}</a></div>
				{{ usergroup.description | nl2br }}
			</li>
		{% else %}
			<li>
				No user groups found.
			</li>
		{% endfor %}
	</ul>

{% endblock %}
