{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Media Admin - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/admin', 'label':'admin' },  { 'url':'/admin/media', 'label':'media' } ]  } %}
{% endblock %}

{% block content %}

	<p>
		Currently using: 
		{% set kilobyte = 1024 %}
		{% set megabyte = kilobyte * 1024 %}
		{% if size < kilobyte %}
			{{ size ~ ' B' }}
		{% elseif size < megabyte %}
			{{ (size / kilobyte)|number_format(2, '.') ~ ' KB' }}
		{% else %}
			{{ (size / megabyte)|number_format(2, '.') ~ ' MB' }}
		{% endif %}
	</p>
		
{% endblock %}

