{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Server - {% endblock %}

{% block content %}

	<p>Server Info</p>
	
	<ul class="menuOnPage">
		<li><a href="/sysadmin/server/phpinfo">Phpinfo</a></li>
	</ul>

{% endblock %}

