{#
 # @package org.openacalendar.displayboard
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends '/displayboard/site/displayBoard.html.twig' %}


{% block pageTitle %}Display Board - {% endblock %} 



{% block today %}
	<h3>Today</h3>
	<ul class="displayBoardEvents">
		{% for event in eventsToday %}
			{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'time', minorImportance: false }  %}
		{% endfor %}
		{% for event in eventsTodayMinorImportance %}
			{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'time', minorImportance: true }  %}
		{% endfor %}
	</ul>
{% endblock %}

{% block next %}
	{% if daysAheadInNextBox == 1 %}
		<h3>Tomorrow</h3>
		<ul class="displayBoardEvents">
			{% for event in eventsNext %}
				{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'time', minorImportance: false }  %}
			{% endfor %}
			{% for event in eventsNextMinorImportance %}
				{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'time', minorImportance: true }  %}
			{% endfor %}
		</ul>
	{% else %}
		<h3>Next {{ daysAheadInNextBox }} days</h3>
		<ul class="displayBoardEvents">
			{% for event in eventsNext %}
				{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'date', minorImportance: false }  %}
			{% endfor %}
			{% for event in eventsNextMinorImportance %}
				{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'date', minorImportance: true }  %}
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block later %}
	<h3>Later</h3>
	<ul class="displayBoardEvents">
		{% for event in eventsLater %}
			{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'date', minorImportance: false }  %}
		{% endfor %}
		{% for event in eventsLaterMinorImportance %}
			{%  include '/displayboard/site/displayboard/event.html.twig' with { showStart : 'date', minorImportance: true }  %}
		{% endfor %}
	</ul>
{% endblock %}
