html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.iconAppleSmall {
  background-image: url('/theme/default/img/apple16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconArrowLeftLarge {
  background-image: url('/theme/default/img/arrowleft32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconArrowRightLarge {
  background-image: url('/theme/default/img/arrowright32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconBellOSmall {
  background-image: url('/theme/default/img/bello16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconBellOLarge {
  background-image: url('/theme/default/img/bello32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconCalendarOLarge {
  background-image: url('/theme/default/img/calendaro32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconClockOLarge {
  background-image: url('/theme/default/img/clocko32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconDownloadSmall {
  background-image: url('/theme/default/img/download16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconDownloadLarge {
  background-image: url('/theme/default/img/download32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconEnvelopeOLarge {
  background-image: url('/theme/default/img/envelopeo32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconEyeLarge {
  background-image: url('/theme/default/img/eye32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconFacebookSquareLarge {
  background-image: url('/theme/default/img/facebooksquare32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .iconFacebookSquareLarge {
    background-image: url('/theme/default/img/facebooksquare64.png');
    background-size: 32px 32px;
  }
}
.iconFileImageOSmall {
  background-image: url('/theme/default/img/fileimageo16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconFileImageOLarge {
  background-image: url('/theme/default/img/fileimageo32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconGearsLarge {
  background-image: url('/theme/default/img/gears32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconGlobeLarge {
  background-image: url('/theme/default/img/globe32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconGoogleSmall {
  background-image: url('/theme/default/img/google16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconGoogleLarge {
  background-image: url('/theme/default/img/google32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconHistoryLarge {
  background-image: url('/theme/default/img/history32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconKeyLarge {
  background-image: url('/theme/default/img/key32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconShareSmall {
  background-image: url('/theme/default/img/share16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconTagsLarge {
  background-image: url('/theme/default/img/tags32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconTimesCircleOLarge {
  background-image: url('/theme/default/img/timescircleo32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconTrashOSmall {
  background-image: url('/theme/default/img/trasho16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconTwitterLarge {
  background-image: url('/theme/default/img/twitter32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconPencilSmall {
  background-image: url('/theme/default/img/pencil16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconQuestionCircleSmall {
  background-image: url('/theme/default/img/questioncircle16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconUsersLarge {
  background-image: url('/theme/default/img/users32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconUserLarge {
  background-image: url('/theme/default/img/user32.png');
  width: 32px;
  height: 32px;
  display: inline-block;
}
.iconUserAttendingSmall {
  background-image: url('/theme/default/img/userattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconUserNotAttendingSmall {
  background-image: url('/theme/default/img/usernotattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.iconUserMaybeAttendingSmall {
  background-image: url('/theme/default/img/usermaybeattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  width: 100%;
  height: 100%;
}
#Map {
  width: 100%;
  height: 100%;
}
h1 {
  display: inline;
  font-size: 1.3em;
}
h1 a {
  text-decoration: none;
  color: black;
}
h2 {
  display: inline;
  font-size: 1.0em;
}
h2 a {
  text-decoration: none;
  color: black;
}
#NoEventsNotice {
  padding: 10px 5px;
  text-align: center;
  background: #cadeea;
  border: 2px solid #A8C7DB;
  position: absolute;
  z-index: 100;
  top: 100px;
  width: 100%;
}
#PopupMask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-color: rgba(200,200,200,0.7);
  z-index: 500;
}
.PopupBox {
  border: 4px solid #0DA20D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: white;
  padding: 0;
  min-width: 600px;
  width: 50%;
  top: 25px;
  left: 20%;
  position: fixed;
  z-index: 1000;
}
@media screen and (max-width: 750px) {
  .PopupBox {
    min-width: 200px;
    width: 95%;
    top: 25px;
    left: 10px;
  }
}
.PopupBox .PopupBoxClose {
  padding: 3px;
  background: #0DA20D;
  text-align: right;
}
.PopupBox .PopupBoxClose a {
  color: white;
  text-decoration: none;
}
.PopupBox .content {
  padding: 10px;
}
.PopupBox .PopUpTitle {
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px 0 10px 0;
}
.PopupBox .PopupBoxContent {
  padding: 10px;
}
ul.eventSmallListings li.eventSmallListing {
  padding: 4px 0;
}
ul.eventSmallListings li.eventSmallListing .time {
  color: #ec2327;
  font-weight: 400;
  background: url('/theme/default/img/eventFooterCalendarIcon.png') no-repeat;
  padding: 5px 10px 5px 20px;
}
#MapInfo {
  background: white;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 5px;
}
