<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php" >


    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>.</directory>
            <directory>api1exportbuilders</directory>
            <directory>eventcustomfields</directory>
            <directory>repositories/builders</directory>
            <directory>models</directory>
            <directory>actions</directory>
            <directory>import</directory>
            <directory>../../extension/CuratedLists/tests/</directory>
            <directory>../../extension/Meetup/tests/</directory>
        </testsuite>
    </testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">../../vendor</directory>
			<directory suffix=".php">../../core/cli</directory>
			<directory suffix=".php">../../core/tests</directory>
			<directory suffix=".php">../../core/php/autoload.php</directory>
			<directory suffix=".php">../../core/php/autoloadCLI.php</directory>
			<directory suffix=".php">../../core/php/autoloadWebApp.php</directory>
		</blacklist>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../php/indexapi2/controllers</directory>
			<directory suffix=".php">../php/indexapi2/forms</directory>
			<directory suffix=".php">../php/index/controllers</directory>
			<directory suffix=".php">../php/index/forms</directory>
			<directory suffix=".php">../php/site/controllers</directory>
			<directory suffix=".php">../php/site/forms</directory>
			<directory suffix=".php">../php/sysadmin/controllers</directory>
			<directory suffix=".php">../php/sysadmin/forms</directory>
			<directory suffix=".php">../php/api1exportbuilders</directory>
			<directory suffix=".php">../php/appconfiguration</directory>
			<directory suffix=".php">../php/cliapi1</directory>
			<directory suffix=".php">../php/icalparser</directory>
			<directory suffix=".php">../php/import</directory>
			<directory suffix=".php">../php/models</directory>
			<directory suffix=".php">../php/repositories</directory>
			<directory suffix=".php">../php/repositories/builders</directory>
			<directory suffix=".php">../php/repositories/builders/filterparams</directory>
			<directory suffix=".php">../php/siteapi1/controllers</directory>
			<directory suffix=".php">../php/siteapi2/controllers</directory>
			<directory suffix=".php">../php/tasks</directory>
			<directory suffix=".php">../php/twig/extensions</directory>
			<directory suffix=".php">../php/usernotifications/models</directory>
			<directory suffix=".php">../php/usernotifications/preferences</directory>
			<directory suffix=".php">../php/usernotifications/types</directory>
			<directory suffix=".php">../../extension/CuratedLists/php/models</directory>
			<directory suffix=".php">../../extension/CuratedLists/php/repositories</directory>
			<directory suffix=".php">../../extension/CuratedLists/php/repositories/builders</directory>
			<directory suffix=".php">../../extension/CuratedLists/php/org/openacalendar/curatedlists/</directory>
			<directory suffix=".php">../../extension/CuratedLists/php/org/openacalendar/curatedlists/site/controllers</directory>
			<directory suffix=".php">../../extension/CuratedLists/php/org/openacalendar/curatedlists/siteapi1/controllers</directory>
			<file>../php/BaseExtension.php</file>
			<file>../php/BaseUserNotificationModel.php</file>
			<file>../php/BaseUserNotificationPreference.php</file>
			<file>../php/BaseUserNotificationType.php</file>
			<file>../php/ConfigCheck.php</file>
			<file>../php/Config.php</file>
			<file>../php/ExtensionCore.php</file>
			<file>../php/ExtensionHookRunner.php</file>
			<file>../php/ExtensionManager.php</file>
			<file>../php/FlashMessages.php</file>
			<file>../php/IniConfigWithEnvironment.php</file>
			<file>../php/ParseDomain.php</file>
			<file>../php/ParseURL.php</file>
			<file>../php/RenderCalendar.php</file>
			<file>../php/Request.php</file>
			<file>../php/SearchForDuplicateEvents.php</file>
			<file>../php/SysAdminLink.php</file>
			<file>../php/TimeSource.php</file>
			<file>../php/UserAgent.php</file>
			<file>../php/WebSession.php</file>
		</whitelist>
	</filter>

</phpunit>
