{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Emails - {% endblock %} 

{% block content %}
	
	<form action="#" method="post" class="styled">

		<div class="rowWrapper">
			<div class="labelWrapper">Username</div>
			<div class="widgetWrapperPlacementOnly">{{ user.username }}</div>
			<div class="after"></div>
		</div>
		
		<div class="rowWrapper">
			<div class="labelWrapper">Email</div>
			<div class="widgetWrapperPlacementOnly">{{ user.email }}</div>
			<div class="after"></div>
		</div>
		
		{{ form_errors(form) }}

		{{ form_rest(form) }}

		<input type="submit"  value="Change" />	
	</form>

{% endblock %}


