{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}You - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'index/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/me', 'label':'your account' } ]  } %}
{% endblock %}


{% block content %}

	<div class="contentTwoColumns">

		<div class="contentTwoColumnsLeft">

			<p>Welcome!</p>

		</div>

		<div class="contentTwoColumnsRight">

			<ul class="actionList">
				<li><a href="/you/register"><div class="fa fa-user fa-2x"></div> Register</a></li>
				<li><a href="/you/login"><div class="fa fa-user fa-2x"></div> Login</a></li>
				<li><a href="/you/forgot"><div class="fa fa-user fa-2x"></div> Forgot your login details?</a></li>
			</ul>

		</div>

		<div class="afterContentTwoColumns"></div>

	</div>

{% endblock %}
