{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Verified - {% endblock %} 

{% block content %}

	<p>Thank you. Your email is now verified.</p>	
	
	<p>You can now <a href="/">work with existing calendars</a> or <a href="/create">make your own calendar</a>.</p>

{% endblock %}
