{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	</head>
	<body style="padding: 0px; font-family: arial, sans-serif;">
		<p>Please wait, loading ...</p>
		<script>
			OpenACalendar.accessGranted('{{ authorisationToken  | e('js') }}','{{ state | e('js') }}');
		</script>
	</body>
</html>
