{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Venues - {% endblock %} 

{% block htmlHeader %}
	{% if not currentSite.isWebRobotsAllowed or not venueListFilterParams.isDefaultFilters %}
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{%  else %}
		<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/venue/" />
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/venue', 'label':'venues' } ]  } %}
{% endblock %}

{% block content %}

		
	{% if not currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
		<div class="flash-error"><div class="contentMain">This feature has been disabled on this calendar. You can not make changes.</div></div>
	{% endif %}

	<div class="contentMain">
		<h2>Venues</h2>
	</div>

	<div class="pageActionsWrapper">
		<ul class="pageActions">
			{% if currentUserActions.has("org.openacalendar","venueNew") %}
				<li class="action">
					<a href="/venue/new"><div class="fa fa-pencil"></div> Add a venue</a>
				</li>
			{% endif %}
			
			{% if currentSiteFeatures.has('org.openacalendar','VirtualEvents') %}
				<li class="action">
					<a href="/venue/virtual"><div class="fa fa-desktop"></div> Virtual</a>
				</li>
			{% endif %}
		
			
			<li class="tab currentTab">List</li>
		</ul>
	</div>

	{% include '/site/venueListFilterParams.html.twig' %}

	<ul class="mainListVenues">
		{% for venue in venues %}
			{% include '/site/common/mainListVenue.html.twig' with {'venue':venue }  %}
		{% else %}
			<li class="nodata">
				There are no venues.
				{% if currentUserActions.has("org.openacalendar","venueNew") %}Why not <a href="/venue/new">add one</a>?{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endblock %}

