{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}User {{  user.username }} Verify - {% endblock %}

{% block content %}


	<table class="data">
		<tr>
			<th>Created</th>
			<th>Verified</th>
			<th>Verified From IP</th>
		</tr>
		{% for verify in verifies %}
			<tr {% if loop.index is even %}class="alternative"{% endif %} >
				<td>{{ verify.getCreatedAt  |tolocaltimeformatted('D H:i jS M Y', currentTimeZone ) }}</td>
				<td>
					{% if verify.getVerifiedAt %}
						{{ verify.getVerifiedAt  |tolocaltimeformatted('D H:i jS M Y', currentTimeZone )}}
					{% endif %}
				</td>
				<td>
					{{  verify.verifiedFromIP }}
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
