RewriteEngine on
RewriteRule  ^me(.*)$ /index.php/me$1  [L]
RewriteRule  ^you(.*)$ /index.php/you$1  [L]
RewriteRule  ^user(.*)$ /index.php/user$1  [L]
RewriteRule  ^person(.*)$ /index.php/person$1  [L]
RewriteRule  ^contact(.*)$ /index.php/contact$1  [L]
RewriteRule  ^terms(.*)$ /index.php/terms$1  [L]
RewriteRule  ^privacy(.*)$ /index.php/privacy$1  [L]
RewriteRule  ^widgethelp(.*)$ /index.php/widgethelp$1  [L]
RewriteRule  ^credits(.*)$ /index.php/credits$1  [L]
RewriteRule  ^about(.*)$ /index.php/about$1  [L]
RewriteRule  ^site(.*)$ /index.php/site$1  [L]

RewriteRule  ^event(.*)$ /index.php/event$1  [L]
RewriteRule  ^group(.*)$ /index.php/group$1  [L]
RewriteRule  ^venue(.*)$ /index.php/venue$1  [L]
RewriteRule  ^country(.*)$ /index.php/country$1  [L]
RewriteRule  ^area(.*)$ /index.php/area$1  [L]
RewriteRule  ^admin(.*)$ /index.php/admin$1  [L]
RewriteRule  ^dataforcountryid.json(.*)$ /index.php/dataforcountryid.json$1  [L]
RewriteRule  ^history(.*)$ /index.php/history$1  [L]
RewriteRule  ^watch(.*)$ /index.php/watch$1  [L]
RewriteRule  ^mytimezone(.*)$ /index.php/mytimezone$1  [L]
RewriteRule  ^displayboard(.*)$ /index.php/displayboard$1  [L]
RewriteRule  ^stopWatchingFromEmail(.*)$ /index.php/stopWatchingFromEmail$1  [L]
RewriteRule  ^requestaccess(.*)$ /index.php/requestaccess$1  [L]
RewriteRule  ^api1(.*)$ /indexapi1.php/api1$1  [L]
RewriteRule  ^api2(.*)$ /indexapi2.php/api1$1  [L]
RewriteRule  ^map(.*)$ /index.php/map$1  [L]
RewriteRule  ^tag(.*)$ /index.php/tag$1  [L]
RewriteRule  ^import(.*)$ /index.php/importurl$1  [L]
RewriteRule  ^curatedlist(.*)$ /index.php/curatedlist$1  [L]
RewriteRule  ^demo(.*)$ /index.php/demo$1  [L]
RewriteRule  ^places(.*)$ /index.php/places$1  [L]
RewriteRule  ^currentuser(.*)$ /index.php/currentuser$1  [L]
RewriteRule  ^media(.*)$ /index.php/media$1  [L]

RewriteRule  ^sysadmin(.*)$ /gotosysadmin.php/sysadmin$1  [L]
RewriteRule  ^manifest.json$ /manifest.php [L]

ErrorDocument 404 /404.php
