html,
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  width: 100%;
  height: 100%;
}
#Map {
  width: 100%;
  height: 100%;
}
h1 {
  display: inline;
  font-size: 1.3em;
}
h1 a {
  text-decoration: none;
  color: black;
}
h2 {
  display: inline;
  font-size: 1.0em;
}
h2 a {
  text-decoration: none;
  color: black;
}
#NoEventsNotice {
  padding: 10px 5px;
  text-align: center;
  background: #cadeea;
  border: 2px solid #A8C7DB;
  position: absolute;
  z-index: 100;
  top: 100px;
  width: 100%;
}
#PopupMask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-color: rgba(200,200,200,0.7);
  z-index: 500;
}
.PopupBox {
  border: 4px solid #0DA20D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: white;
  padding: 0;
  min-width: 600px;
  width: 50%;
  top: 25px;
  left: 20%;
  position: fixed;
  z-index: 1000;
}
@media screen and (max-width: 750px) {
  .PopupBox {
    min-width: 200px;
    width: 95%;
    top: 25px;
    left: 10px;
  }
}
.PopupBox .PopupBoxClose {
  padding: 3px;
  background: #0DA20D;
  text-align: right;
}
.PopupBox .PopupBoxClose a {
  color: white;
  text-decoration: none;
}
.PopupBox .content {
  padding: 10px;
}
.PopupBox .PopUpTitle {
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px 0 10px 0;
}
.PopupBox .PopupBoxContent {
  padding: 10px;
}
ul.eventSmallListings li.eventSmallListing {
  padding: 4px 0;
}
ul.eventSmallListings li.eventSmallListing .time {
  color: #ec2327;
  font-weight: 400;
  background: url('/img/eventFooterCalendarIcon.png') no-repeat;
  padding: 5px 10px 5px 20px;
}
#MapInfo {
  background: white;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 5px;
}
