{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Groups - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/group/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/group', 'label':'groups' } ]  } %}
{% endblock %}

{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','Group') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>Groups</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% if currentUserActions.has("org.openacalendar","groupNew") or ( currentUser is null and anyVerifiedUserActions.has("org.openacalendar","groupNew") )  %}
				<li class="action">
					<a href="/group/new"><div class="fa fa-pencil"></div> Add a group</a>
				</li>
			{% endif %}
			<li class="tab currentTab">List</li>
		</ul>
		<div id="innerPage">
			 
			{% include '/site/groupListFilterParams.html.twig' %}
			
			<ul class="mainListGroups">
				{% for group in groups %}
					{% include '/site/common/mainListGroup.html.twig' with {'group':group }  %}
				{% else %}
					<li class="nodata">
						There are no groups.
						{% if currentUserActions.has("org.openacalendar","groupNew") %}Why not <a href="/group/new">add one</a>?{% endif %}
					</li>								
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>



{% endblock %}

