{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}History - {% endblock %} 

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/history">History of changes</a></li>
{% endblock %}


{% block content %}

	<ul class="history">
		{% for historyItem in historyItems %}
			{%  if historyItem.siteWebTemplate %}
				{%  include historyItem.siteWebTemplate with { 'historyItem':historyItem } %}
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}
