{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/publicuser/page.html.twig' %}

{% block pageTitle %}{{ user.displayname }} - {% endblock %}

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/person/{{ user.username }}/" />
{% endblock %}

	
{% block tabIndex %}currentTab{% endblock %}

	
{% block innerContent %}
	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/index/common/eventListing.html.twig' with {'event':event, 'showOtherUserOptions':true}  %}
		{% else %}
			<li class="nodata">
				This person has not made any event attendance plans public.
			</li>					
		{% endfor %}
	</ul>
{% endblock %}
