{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}



{% block content %}

	<h3>About {{  user.username }}</h3>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="action">
				<a href="/api1/person/{{ user.username }}/events.ical" onclick="showExportPopup(); return false;">
					<div class="iconDownloadSmall"></div> export
				</a>
			</li>				
			<li class="tab {% block tabIndex %}currentTab{% endblock %}"><a href="/person/{{ user.username }}">Upcoming events</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}



{% block scriptsForState %}
	<script type="text/javascript">var exportData = {user:'{{ user.username }}'}</script>
{% endblock %}

