{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div style="padding: 10px 0 10px 0;">
	<a href="{{ link }}" style="padding: 5px 20px 5px 20px; background:  {{  themeVariables.colourLighter2 }}; border-radius: 3px; border: 2px solid {{ themeVariables.colourDarker2 }}; color: black;">{{  text }}</a>
</div>
